body {
}

.heading {
    text-align: left;
    margin-left: 30px;
}

.menu {
    text-align: right;
    margin-right: 30px;
}

.menu li {
    display: inline-block;
    /* To make menu items appear horizontally */
    margin-left: 10px;
    /* Optional: Add some spacing between menu items */
}

.menu_items {
    text-align: center;
}

.menu_items li {
    display: inline-block;
    /* To make menu items appear horizontally */

}

a {
    color: black;

}

.h {
    text-align: center;
    margin-top: 200px;
    font-size: 5.5vh;
    color: blue;

}

h4 {
    text-align: center;
}

.a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    margin: 0 auto;
}

.sub {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: green;
    overflow: hidden;
}

li.navitem {
    float: left;
}

li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the background color to yellow when pressed */
li.navitem a:hover {
    color: yellow;
}

ul.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    list-style-type:none;
    padding:0;
}

li.navitem:hover ul.submenu {
    display: block;
}

li.navitem ul.submenu li {
    float: none;
}

li.navitem ul.submenu li a {
    padding: 10px 15px;
}
