.nav img {
    border-radius: 100%;
    width: 100px;
    height: 100px;


}

.nav {
    align-items: center;
    padding: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;


}

.img {

    margin-right: 10px;
}

body {
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
}
.containers{
 
}